<div class="page">
  <ng-container *ngIf="error">
    <h1>{{error}}</h1>
  </ng-container>

  <ng-container *ngIf="!error">
    <p>
      <strong>
        Hola<ng-container *ngIf="nameQuizzer"> {{nameQuizzer}}</ng-container>!

        <ng-container *ngIf="questionsAmount > 0">
          You just need to answer {{questionsAmount}} question<ng-container *ngIf="questionsAmount > 1">s</ng-container>, ok?
        </ng-container>
      </strong>
    </p>

    <ng-container *ngIf="questionsAmount > 0">
      <section class="questions">
        <div class="timer" [ngClass]="{'warning': (count <= 10)}">Time left: <span class="time-left">{{countDown | async}}</span> sec</div>

        <article *ngFor="let question of questions; let i = index; let firstItem = first; let lastItem = last"
                 [class.firstQuestion]="firstItem"
                 [class.lastQuestion]="lastItem"
                 [ngClass]="{'hidden': (i !== 0)}"
                 class="question">

          <div class="labels">
            <span class="label label--category">Category: {{question.category}}</span>
            <span class="label label--difficulty">Difficulty: {{question.difficulty}}</span>
          </div>

          <p class="questionsAmount">Question {{i+1}} of {{questionsAmount}}</p>
          <h2 [innerHTML]="question.question"></h2>

          <ul class="answersList">
            <ng-container *ngFor="let answer of question.allAnswers; let x = index">
              <li>
                <input  [disabled] = "count === 0 ? 'true' : null"
                        type="checkbox"
                        id="answer{{answer | slice:1:3}}{{x}}"
                        #answerinput
                        (change)="changedCheckbox(answerinput.value, answerinput.checked, question.correct_answer)"
                        value="{{answer}}" />
                <label for="answer{{answer | slice:1:3}}{{x}}" [innerHTML]="answer"></label>
              </li>
            </ng-container>
          </ul>

          <ng-container *ngIf="answerChecked && userAnswerValue === question.correct_answer && count === 0">
            <p>LEKKER BEZIG JONGE!</p>
          </ng-container>

          <ng-container *ngIf="answerChecked && !lastItem || !lastItem && count === 0">
            <a href="#" class="btn btn--nextQuestion" (click)="nextQuestion($event, userAnswerValue)">Next »</a>
          </ng-container>

          <ng-container *ngIf="answerChecked && lastItem || lastItem && count == 0">
            <div class="showResults txt-centered">
              <p>Hey man, you've made it. Let's see the results.</p>
              <a href="#" class="btn" (click)="showResults($event, userAnswerValue)" routerLink="/results">Show results</a>
            </div>
          </ng-container>
        </article>
      </section>
    </ng-container>
  </ng-container>
</div>


<!-- TODO: Easter eggy -->
<!--<a href="#" (click)="showEaster($event)">-->
  <!--<div class="no txt-centered">-->
    <!--<div class="noShow">-->
      <!--<p>Don't do this</p>-->
      <!--<input type="text" class="input&#45;&#45;text" />-->
      <!--<button class="btn btn&#45;&#45;startQuiz" (click)="resetShit()">NO!</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</a>-->
