<div class="page">
  <ng-container *ngIf="error">
    <section class="error">
      <h1>{{error}}</h1>
    </section>
  </ng-container>

  <ng-container *ngIf="!error">
    <article>
      <app-quiz-title [title]="title"></app-quiz-title>

      <app-quiz-intro
        [nameQuizzer]="nameQuizzer"
        [questionsAmount]="questionsAmount"></app-quiz-intro>

      <app-question [currentQuestionNumber]="currentQuestionNumber"
                    [questionsAmount]="questionsAmount"
                    [questions]="questions"></app-question>
    </article>
  </ng-container>
</div>
