.form__label {
  display: block;
  margin: 0 0 5px 0;
}

.form__input {
  padding: 10px 20px;
  margin: 0 0 15px 0;
  min-width: 50%;
}

.btn--startQuiz {
  min-width: 25%;
  padding: 10px 15px;
}

.form--startQuiz {
  text-align: center;
}
