body {
  font-family: Arial, Calibri, sans-serif;
  background-image: url('https://www.desktopbackground.org/download/320x480/2014/07/18/795375_question-mark-hd-wallpapers-hd-images-new_1920x1680_h.jpg');
  color: #686868;
}

h1, h2 {
  margin: 0 0 30px 0;
}

p {
  margin: 0 0 15px 0;
}

.page {
  background: #fff;
  box-shadow: 14px 13px 12px rgba(0,0,0,0.1);
  margin: 0 auto;
  padding: 55px 35px;
  max-width: 600px;
  position: relative;
}

.btn {
  color: #fff;
  background-color: #007600;
  border: 0;
  cursor: pointer;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  transition: all 250ms;
}

.btn:hover {
  background-color: #005600;
}

.txt-centered {
  text-align: center;
}





/***********************************/
/* -------- REFACTOR THIS -------- */
/***********************************/
.questions {
  position: relative;
}

.hidden {
  display: none;
}

.timer {
  font-size: 12px;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: -65px;
  margin: 0 0 10px 0;
  padding: 10px;
}

.timer.warning {
  background-color: red;
}

.labels {
  margin: 0 0 15px 0;
}

.label {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  color: #000;
}

.label__category {
  background-color: rgb(230, 222, 252);
}

.label__difficulty {
  background-color: rgb(252, 222, 222);
}

.questionsAmount {
  margin: 0 0 5px 0;
  color: #848383;
  font-size: 14px;
  font-weight: bold;
}

ul.answersList {
  list-style-type: none;
  margin: 20px 0 20px 15px;
  padding: 0;
}

.btn__nextQuestion {
  background-color: #007600;
}

.no {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 30px;
  min-width: 30px;
  background-color: red;
}

.noShow {
  display: none;
}

.showResults {
  background-color: #fefae9;
  padding: 10px;
}
